


{% include "header.html" %}


<div class="container">

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Writing</a></li>
            <li><a href="#tab2" data-toggle="tab" id="preview">Preview</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                <form class="form-horizontal" action="{{ url_for('.update_new') }}" method="post">

                    <h2>Title</h2>

                    <input class="input-xxlarge" type="text" id="title" name="title" value="{{ post.title }}">

                    <p class="help-block"></p>


                    {% if post.navigation |int == 1 %}
                        <label class="checkbox"><input type="checkbox" name="navigation" value="yes" checked> Add to
                            navigation bar?</label>
                    {% else %}
                        <label class="checkbox"><input type="checkbox" name="navigation" value="yes"> Add to navigation
                            bar?</label>
                    {% endif %}

                    <textarea id="editor" name="content">{{ post.content }}</textarea>
                    <input type="hidden" name="type" value="update"/>
                    <input type="hidden" name="id" value="{{ post.id }}"/>
                    <input type="submit" value="Save" class="btn btn-primary"/>
                    <a href="{{ url_for('.index') }}"><input type="button" value="Cancle" class="btn"/></a>
                    <a href="{{ url_for('.delete', id=post.id) }}"> <input type="button" class="btn btn-danger"
                                                                 value="Delete"/></a>

                </form>

            </div>
            <div class="tab-pane" id="tab2">
            </div>
        </div>
    </div>
</div>


{% include "footer.html" %}

